body{
    background:linear-gradient(cornflowerblue,#03A9F4);
    height: 100vh;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family:'Times New Roman';
}
li {
    padding: 0 1rem 1rem 0;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    border-bottom: none;
    font-size: 32px;
}
li:hover {
    background: #e91e63;
    cursor: pointer;
    border-bottom: 1px solid white;
}
.dropdown {
    background: #266fed;
    display: block;
    float: left;
    visibility: hidden;
    position: absolute;
    box-shadow: 0 0 5px 0 rgba(1, 1, 1, 0.75);  
}
.dropdown :last-child {
    border-bottom: none;  
}
.grand {
    background: #266fed;
    display: block;
    float: left;
    visibility: hidden;
    position: absolute;
    box-shadow: 0 0 5px 0 rgba(1, 1, 1, 0.75);
}
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    animation: mine 0.5s ;
}
@keyframes mine {
    from {top: 1rem;}
    top {top: 2rem;}
}